$base-purple: #a32389;
$base-light-purple: #b62799;
$background-purple-light: rgba(163,35,137, 0.05);
$font-black: #373737;
$white: white;
$black: black;
$footer-background: #444444;


$font-poppins: 'Poppins', sans-serif;

